:root {
  --active-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --title-color: #212121;
  --button-background: #f5f4fa;
  --button-background-active: #2196f3;
  --back-dark: #2f303a;
  --foot-contact-text: rgba(255, 255, 255, 0.6);
  --back-color-order: #188ce8;
  --card-set-gap: 30px;
  --card-content-bc: #eeeeee;
  --icon-color: #afb1b8;
  --icon-connect: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

ul {
  list-style: none;
}

a .link {
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main--title,
.advantages .caption-title {
  text-transform: uppercase;
}

.visual--hiden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19em;
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__item {
  color: var(--active-color);
}

.logo__item--black {
  color: #000000;
}

.logo__item--white {
  color: var(--white-color);
}

.logo--foot {
  padding: 0;
  margin-top: 60px;
  margin: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.link {
  text-decoration: none;
}

.container--head {
  min-width: 320px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000000;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--active-color);
  fill: currentColor;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 2000;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: transformX 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transformX 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu-list__link {
  display: inline-block;
  color: #000000;
}

.mobile-menu-list > li:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu--current {
  color: var(--active-color);
}

.mobile-menu-bottom {
  position: absolute;
  bottom: 48px;
}

.mobile-menu-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts__link {
  display: inline-block;
  color: var(--text-color);
  padding-bottom: 32px;
}

.mobile-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-top: 32px;
}

.mobile-menu-social__link {
  color: var(--active-color);
  position: relative;
  color: var(--active-color);
}

.mobile-menu-social > li:not(:last-child) {
  padding-right: 20px;
}

.contacts {
  line-height: 1.14em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__icon--email {
    width: 14px;
    height: 10px;
  }
  .contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }
  .contacts__icon--tel {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts > li:not(:last-child) {
    margin-right: 50px;
  }
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 285px;
  }
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__link--email {
    padding-top: 21px;
    padding-bottom: 5px;
  }
  .contacts__link--tel {
    padding-bottom: 21px;
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--active-color);
}

@media screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation a:hover,
  .navigation a:focus {
    color: var(--active-color);
  }
}

.navigation .navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation .navigation__link--current {
  position: relative;
  color: var(--active-color);
}

.navigation .navigation__link--current::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--button-background-active);
}

.section--main {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .section--main {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mob-1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-1x.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mob-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--main {
    width: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tab-1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-1x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .section--main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tab-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section--main {
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop-1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop-1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop-2x.jpg");
  }
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main--title {
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.62em;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .main--title {
    font-size: 44px;
    line-height: 1.36em;
    width: 696px;
  }
}

.button-order {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  color: var(--white-color);
  background-color: var(--button-background-active);
  letter-spacing: 0.06em;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.button.order:hover,
.button.order:focus {
  background-color: var(--back-color-order);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close-icon {
  fill: var(--active-color);
}

.close:focus-within .close-icon {
  fill: var(--active-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 5;
}

/* Form */
.form {
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
}

.form__input {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__input:hover {
  border: 1px solid var(--active-color);
  outline: none;
  cursor: pointer;
}

.form__input:focus-within ~ .form__icon {
  color: var(--active-color);
}

.form__label {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000;
  fill: currentColor;
}

.form__textarea-input {
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.form__textarea-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea-label {
  position: absolute;
  top: 0%;
  left: 0;
  display: inline-block;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.form__check {
  font-size: 12px;
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-left: 24px;
}

.form__check-input {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__check-input:focus + .form__check-box {
  border-color: var(--active-color);
}

.form__check-input:checked + .form__check-box {
  border-color: transparent;
  background-color: var(--button-background-active);
  background-size: contain;
  background-image: url("../images/check.svg");
}

.form__check-box {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 0;
  margin-left: 0;
  border: 2px solid black;
  border-radius: 4px;
}

.form__license-link {
  color: var(--active-color);
  text-decoration: underline;
}

.submit-bth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  color: var(--white-color);
  background-color: var(--button-background-active);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-bth:focus,
.submit-bth:hover {
  background-color: var(--back-color-order);
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
  .form__check {
    font-size: 14px;
    padding-left: 36px;
  }
  .form__check-box {
    margin-left: 12px;
  }
}

.section--advantages {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section--advantages {
    padding: 94px 0;
  }
}

.advantages {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.advantages__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--button-background);
  fill: currentColor;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .advantages__content {
    margin-top: 30px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  margin-top: 10px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  z-index: -1;
}

.production__item {
  position: relative;
}

.production__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.production__text {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.production > li:not(:last-child) {
  margin-right: 30px;
}

.section--production {
  padding-bottom: 94px;
  padding-top: 0;
  position: relative;
  z-index: 1;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--production {
    display: block;
  }
}

.section--teams {
  background-color: var(--button-background);
}

.team {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.card {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.card__text {
  margin-top: 10px;
}

.card__name {
  font-weight: 500;
}

.team > .team__item {
  font-size: 16px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.heading--teams {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .heading--teams {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--active-color);
  fill: var(--white-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  border-color: var(--button-background-active);
}

.partners__icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-color);
  color: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:focus .partners__icon,
.partners__link:hover .partners__icon {
  fill: var(--active-color);
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columnS;
          flex-direction: columnS;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .partners__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .partners__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.products__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.products {
  font-size: 16px;
  line-height: 1.88em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.products__item:not(:last-child) {
  margin-bottom: 30px;
}

.products__link {
  text-decoration: none;
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  width: 100%;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__title {
  font-size: 18px;
}

.products__text {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  text-decoration: none;
}

.products__content {
  text-decoration: none;
  color: var(--text-color);
  padding: 20px 24px;
  border-right: 1px solid var(--card-content-bc);
  border-bottom: 1px solid var(--card-content-bc);
  border-left: 1px solid var(--card-content-bc);
}

.products__link:hover,
.products__link:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: currentColor;
}

.products__thumb {
  position: relative;
  overflow: hidden;
}

.products__overlay {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__desc {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
}

.products__link:hover .products__overlay,
.products__link:focus .products__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .products__item:nth-child(2n) {
    margin-left: 30px;
  }
  .products__item:not(:last-child) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .products__link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .products__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .products__link {
    width: 370px;
  }
}

/* PORTFOLIO BUTTON */
.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__item {
  margin-bottom: 15px;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-color);
  background-color: var(--button-background);
  min-width: 73px;
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--sellect {
  background-color: var(--button-background-active);
  color: var(--white-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button:hover, .button:focus {
  background-color: var(--button-background-active);
  color: var(--white-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-list__item {
    margin-bottom: 0;
  }
}

.footer {
  background-color: var(--back-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container--foot {
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet__foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .tablet__foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .container--foot {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.items > li {
  font-style: normal;
}

.items__link {
  display: inline-block;
  text-decoration: none;
  color: var(--foot-contact-text);
  margin-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items a:hover,
.items a:focus {
  color: var(--active-color);
}

@media screen and (min-width: 1200px) {
  .items {
    display: inline-block;
    border: none;
    width: 100%;
  }
}

.foot__width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .foot__width {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .foot__width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 231px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

/* CONNECT */
.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .connect {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    margin-left: 70px;
  }
}

.connect__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
}

.social-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.social-connect__item:not(:last-child) {
  margin-right: 10px;
}

.social-connect__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--icon-connect);
  fill: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-connect__link:hover, .social-connect__link:focus {
  background-color: var(--active-color);
}

/* SUBSCRIBE */
.subscribe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
    margin-left: 93px;
  }
}

.subscribe__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__subtitle {
    display: inline-block;
  }
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-subscribe__field {
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 20px;
}

.form-subscribe__input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--back-dark);
}

.form-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--button-background-active);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.form-subscribe__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.form-subscribe__button-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .form-subscribe__field {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__field {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */