.partners {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--button-background-active);
    }
  }
  & > li:not(:last-child) {
    margin-right: 30px;
  }
  &__icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    color: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .partners__link:focus &,
    .partners__link:hover & {
      fill: var(--active-color);
    }
  }
}
